## Initialize

In [97]:
import os
import sys
import importlib
import numpy as np
import pandas as pd
import scipy

sys.path.append(os.path.abspath('../src'))

import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

mpl.rcParams['font.family'] = ['serif']
mpl.rcParams['font.serif'] = ['Times New Roman']
mpl.rcParams['mathtext.fontset'] = 'cm'

import utils
import preprocess

importlib.reload(utils)
importlib.reload(preprocess)

from utils import fetch_train_data, describe_data, evaluate_model, train_test_split
from preprocess import *

# df = fetch_train_data(path='../data/train_data_all_filled.json')
df = fetch_train_data()

train_df, test_df = train_test_split(df, test_size=0.2)

prep = Preprocessor()
train_df = prep.cleanse(train_df, is_train=True)
test_df = prep.cleanse(test_df)

train_df.dropna(subset=['fit'], inplace=True)
test_df.dropna(subset=['fit'], inplace=True)

describe_data(test_df)

                 dtype  valid_count  nan_count  unique_count
fit           category        11940          0             3
item_name       object        11898         42          3451
brand           object        11910         30           505
category        object        11898         42            68
size            object        11940          0           124
size_main       object        10981        959            52
size_suffix     object         1621      10319             5
size_scheme     object        11861         79             4
price          float64        11898         42           443
rented_for      object        10476       1464             8
usually_wear   float64        11848         92            24
age            float64        11553        387            61
height         float64         7869       4071            21
weight         float64         9317       2623           147
body_type       object         7931       4009             7
bust_size      float64         9782       2158            11
cup_size      category         9782       2158            13

## Transform data

In [114]:
prep.pipeline = [
    ##
    DropColumns(cols=['user_name', 'review', 'review_summary', 'rating']),
    HandleSizeMapping(),  # handle size mapping
    OrdinalEncoder(cols=['fit', 'item_name', 'cup_size']),  # (necessary)
    MeanImputer(
        cols=['weight', 'height', 'bust_size', 'cup_size']),  # (necessary)
    ComputeItemVectors(),  # compute item vectors
    ##
    DropColumns(cols=['size_scheme', 'size']),
    OneHotEncoder(cols=['size_suffix', 'rented_for', 'body_type']),
    StandardScaler(cols=[
        'weight', 'height', 'bust_size', 'cup_size', 'item_weight',
        'item_height', 'item_bust_size', 'item_cup_size'
    ]),
    TargetEncoder(cols=['brand', 'category', 'size_main'],
                  target_cols=['weight', 'height', 'bust_size', 'cup_size'],
                  name='target_encoder'),
    DropColumns(cols=['brand', 'category', 'size_main']),
    MinMaxScaler(cols=['age', 'price', 'usually_wear']),
    SelectOutputColumns(
        target='target_encoder'
    ),  # append the output of 'target_encoder' to the input of the next transformer
    MeanImputer(cols=['age', 'weight', 'height', 'bust_size', 'cup_size']),
    MedianImputer(cols=['price', 'usually_wear']),
    # OneHotEncoder(cols=['item_name']),
    DropColumns(cols=['item_name']),
]

train_df_prep, test_df_prep = train_df.copy(), test_df.copy()

train_df_prep = prep.fit_transform(train_df_prep)
test_df_prep = prep.transform(test_df_prep)

# train_df_prep = prep.compute_item_vectors(train_df_prep, is_train=True)
# test_df_prep = prep.compute_item_vectors(test_df_prep)

# describe_data(train_df_prep)['nan_count'].sum()
# describe_data(train_df_prep)
train_df_prep

<class 'preprocess.DropColumns'>
<class 'preprocess.HandleSizeMapping'>
<class 'preprocess.OrdinalEncoder'>
<class 'preprocess.MeanImputer'>
<class 'preprocess.ComputeItemVectors'>
Optimizing weights and thresholds, round 1
Iteration 0: loss = 15.833657264709473
Iteration 100: loss = 9.189557075500488
Iteration 200: loss = 5.168092250823975
Iteration 300: loss = 3.670894145965576
Optimizing item vectors, round 1
Iteration 0: loss = 3.6612110137939453
Iteration 100: loss = 3.660952568054199
Iteration 200: loss = 3.6606948375701904
Iteration 300: loss = 3.6604366302490234
Optimizing weights and thresholds, round 2
Iteration 0: loss = 3.6604340076446533
Iteration 100: loss = 3.268646478652954
Iteration 200: loss = 3.0392324924468994
Iteration 300: loss = 2.9223568439483643
Optimizing item vectors, round 2
Iteration 0: loss = 2.921560764312744
Iteration 100: loss = 2.9215593338012695
Iteration 200: loss = 2.921557903289795
Iteration 300: loss = 2.9215564727783203
Optimizing weights and thresholds, round 3
Iteration 0: loss = 2.9215564727783203
Iteration 100: loss = 2.8792524337768555
Iteration 200: loss = 2.8515939712524414
Iteration 300: loss = 2.832339286804199
Optimizing item vectors, round 3
Iteration 0: loss = 2.832191228866577
Iteration 100: loss = 2.832191228866577
Iteration 200: loss = 2.832191228866577
Iteration 300: loss = 2.832191228866577
Optimizing weights and thresholds, round 4
Iteration 0: loss = 2.832191228866577
Iteration 100: loss = 2.8215484619140625
Iteration 200: loss = 2.8116862773895264
Iteration 300: loss = 2.8024535179138184
Optimizing item vectors, round 4
Iteration 0: loss = 2.8023643493652344
Iteration 100: loss = 2.802363872528076
Iteration 200: loss = 2.802363872528076
Iteration 300: loss = 2.8023643493652344
Optimizing weights and thresholds, round 5
Iteration 0: loss = 2.8023643493652344
Iteration 100: loss = 2.7953593730926514
Iteration 200: loss = 2.7886385917663574
Iteration 300: loss = 2.782165050506592
Optimizing item vectors, round 5
Iteration 0: loss = 2.782101631164551
Iteration 100: loss = 2.782101631164551
Iteration 200: loss = 2.782101631164551
Iteration 300: loss = 2.782101631164551
Optimizing weights and thresholds, round 6
Iteration 0: loss = 2.782101631164551
Iteration 100: loss = 2.7768752574920654
Iteration 200: loss = 2.7717857360839844
Iteration 300: loss = 2.7668192386627197
Optimizing item vectors, round 6
Iteration 0: loss = 2.766770362854004
Iteration 100: loss = 2.766770362854004
Iteration 200: loss = 2.766770362854004
Iteration 300: loss = 2.766770362854004
Optimizing weights and thresholds, round 7
Iteration 0: loss = 2.766770362854004
Iteration 100: loss = 2.7626030445098877
Iteration 200: loss = 2.758512496948242
Iteration 300: loss = 2.7544939517974854
Optimizing item vectors, round 7
Iteration 0: loss = 2.7544541358947754
Iteration 100: loss = 2.7544541358947754
Iteration 200: loss = 2.7544541358947754
Iteration 300: loss = 2.7544541358947754
Optimizing weights and thresholds, round 8
Iteration 0: loss = 2.7544541358947754
Iteration 100: loss = 2.7509942054748535
Iteration 200: loss = 2.747584342956543
Iteration 300: loss = 2.7442221641540527
Optimizing item vectors, round 8
Iteration 0: loss = 2.7441887855529785
Iteration 100: loss = 2.7441887855529785
Iteration 200: loss = 2.7441887855529785
Iteration 300: loss = 2.7441887855529785
Optimizing weights and thresholds, round 9
Iteration 0: loss = 2.7441887855529785
Iteration 100: loss = 2.741239070892334
Iteration 200: loss = 2.7383248805999756
Iteration 300: loss = 2.7354443073272705
Optimizing item vectors, round 9
Iteration 0: loss = 2.7354159355163574
Iteration 100: loss = 2.7354159355163574
Iteration 200: loss = 2.7354159355163574
Iteration 300: loss = 2.7354159355163574
<class 'preprocess.DropColumns'>
<class 'preprocess.OneHotEncoder'>
<class 'preprocess.StandardScaler'>
<class 'preprocess.TargetEncoder'>
<class 'preprocess.DropColumns'>
<class 'preprocess.MinMaxScaler'>
<class 'preprocess.SelectOutputColumns'>
<class 'preprocess.MeanImputer'>
<class 'preprocess.MedianImputer'>
<class 'preprocess.DropColumns'>

,fit,price,usually_wear,age,height,weight,bust_size,cup_size,size_bias,item_weight,...,brand_bust_size,brand_cup_size,category_weight,category_height,category_bust_size,category_cup_size,size_main_weight,size_main_height,size_main_bust_size,size_main_cup_size
0,1,0.368583,0.106667,0.364706,7.904861e-01,3.774598e-01,-1.241248e-01,-0.304541,-0.5,0.164854,...,0.161896,0.130963,0.063490,0.029358,0.051066,0.006728,0.576644,0.231175,0.426416,0.253125
1,0,0.010609,0.133333,0.282353,-1.480304e-01,1.491038e-15,9.601256e-01,3.225739,1.5,-0.149035,...,0.441871,0.704484,-0.020704,0.006889,-0.016700,-0.006287,0.723741,0.234654,0.569793,0.304305
2,0,0.116359,0.186667,0.364706,3.212278e-01,2.281141e+00,3.128626e+00,2.048979,2.5,1.212187,...,0.082089,-0.006059,0.009259,-0.020859,0.092215,0.012437,1.270719,0.273107,1.037903,0.616235
3,1,0.106092,0.106667,0.341176,5.250835e-15,3.774598e-01,9.601256e-01,0.283839,2.0,0.688766,...,-0.265243,-0.053276,0.009259,-0.020859,0.092215,0.012437,1.357631,0.260520,1.121602,0.593833
4,0,0.112936,0.053333,0.552941,-1.555805e+00,-8.123406e-01,-1.241248e-01,0.283839,0.0,-1.108209,...,-0.265243,-0.053276,-0.004253,-0.017865,0.004514,0.018947,0.108668,0.124218,0.057462,0.029988
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47924,1,0.077687,0.000000,0.247059,-1.086547e+00,1.491038e-15,-1.208375e+00,-1.481301,-2.0,-0.890805,...,-0.073670,0.017738,-0.004253,-0.017865,0.004514,0.018947,-0.943375,-0.488109,-0.708921,-0.392179
47925,1,0.120465,0.106667,0.352941,1.729003e+00,1.491038e-15,-1.241248e-01,0.283839,2.5,1.195625,...,0.113955,0.047279,0.070045,0.027665,0.040939,0.003363,0.210663,0.110825,0.178598,0.077566
47926,2,0.278234,0.026667,0.317647,5.250835e-15,-1.288261e+00,-2.292626e+00,0.283839,-2.0,-0.793394,...,-0.322356,-0.229441,0.063490,0.029358,0.051066,0.006728,0.210663,0.110825,0.178598,0.077566
47927,1,0.122177,0.080000,0.352941,-1.480304e-01,-8.123406e-01,-1.241248e-01,-0.892921,-1.5,-0.676964,...,0.210352,0.097007,-0.020612,-0.009487,-0.007215,-0.010706,-0.449384,-0.096200,-0.376045,-0.207146
47928,1,0.065708,0.106667,0.333101,5.250835e-15,1.491038e-15,3.852031e-15,0.000000,1.5,-0.104065,...,-0.232427,-0.421082,-0.004253,-0.017865,0.004514,0.018947,0.108668,0.124218,0.057462,0.029988

In [115]:
describe_data(test_df_prep)

                               dtype  valid_count  nan_count  unique_count
fit                             int8        11940          0             3
price                        float64        11940          0           443
usually_wear                 float64        11940          0            24
age                          float64        11940          0            62
height                       float64        11940          0            22
weight                       float64        11940          0           148
bust_size                    float64        11940          0            12
cup_size                     float64        11940          0            14
size_bias                    float64        11940          0            34
item_weight                  float32        11940          0          7683
item_height                  float32        11940          0          6752
item_bust_size               float32        11940          0          6919
item_cup_size                float32        11940          0          7697
size_suffix_R                  int64        11940          0             2
size_suffix_L                  int64        11940          0             2
size_suffix_P                  int64        11940          0             2
size_suffix_W                  int64        11940          0             2
size_suffix_WR                 int64        11940          0             2
rented_for_Everyday            int64        11940          0             2
rented_for_Work                int64        11940          0             2
rented_for_Party               int64        11940          0             2
rented_for_Vacation            int64        11940          0             2
rented_for_Date                int64        11940          0             2
rented_for_Other               int64        11940          0             2
rented_for_Wedding             int64        11940          0             2
rented_for_Formal Affair       int64        11940          0             2
body_type_HOURGLASS            int64        11940          0             2
body_type_ATHLETIC             int64        11940          0             2
body_type_PEAR                 int64        11940          0             2
body_type_PETITE               int64        11940          0             2
body_type_STRAIGHT & NARROW    int64        11940          0             2
body_type_FULL BUST            int64        11940          0             2
body_type_APPLE                int64        11940          0             2
brand_weight                 float64        11940          0           467
brand_height                 float64        11940          0           466
brand_bust_size              float64        11940          0           462
brand_cup_size               float64        11940          0           455
category_weight              float64        11940          0            69
category_height              float64        11940          0            69
category_bust_size           float64        11940          0            69
category_cup_size            float64        11940          0            69
size_main_weight             float64        11940          0            53
size_main_height             float64        11940          0            53
size_main_bust_size          float64        11940          0            53
size_main_cup_size           float64        11940          0            53

## Profiling report

In [223]:
# from pandas_profiling import ProfileReport

# profile = ProfileReport(test_df, minimal=True)
# profile.to_notebook_iframe()

## OrdinalClassifier copied from StackOverflow

In [116]:
from sklearn import clone
from sklearn.linear_model import LogisticRegression


class OrdinalClassifier():

    def __init__(self, clf):
        self.clf = clf
        self.clfs = {}

    def fit(self, X, y):
        self.unique_class = np.sort(np.unique(y))
        if self.unique_class.shape[0] > 2:
            for i in range(self.unique_class.shape[0] - 1):
                # for each k - 1 ordinal value we fit a binary classification problem
                binary_y = (y > self.unique_class[i]).astype(np.uint8)
                clf = clone(self.clf)
                clf.fit(X, binary_y)
                self.clfs[i] = clf

    def predict_proba(self, X):
        clfs_predict = {k: self.clfs[k].predict_proba(X) for k in self.clfs}
        predicted = []
        for i, y in enumerate(self.unique_class):
            if i == 0:
                # V1 = 1 - Pr(y > V1)
                predicted.append(1 - clfs_predict[i][:, 1])
            elif i in clfs_predict:
                # Vi = Pr(y > Vi-1) - Pr(y > Vi)
                predicted.append(clfs_predict[i - 1][:, 1] -
                                 clfs_predict[i][:, 1])
            else:
                # Vk = Pr(y > Vk-1)
                predicted.append(clfs_predict[i - 1][:, 1])
        return np.vstack(predicted).T

    def predict(self, X):
        return np.argmax(self.predict_proba(X), axis=1)


model = OrdinalClassifier(LogisticRegression(max_iter=2000))
model.fit(train_df_prep.drop('fit', axis=1), train_df_prep['fit'])
y_pred = model.predict(test_df_prep.drop('fit', axis=1))

evaluate_model(test_df_prep['fit'], y_pred)

,accuracy,precision,recall,f1,f1_weighted,#small,#true2size,#large
result,0.685595,0.404086,0.334269,0.275133,0.560648,9,11898,33

## Multinomial Logistic Regression with sklearn

In [117]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(max_iter=2000)
model.fit(train_df_prep.drop('fit', axis=1), train_df_prep['fit'])
y_pred = model.predict(test_df_prep.drop('fit', axis=1))

evaluate_model(test_df_prep['fit'], y_pred)

,accuracy,precision,recall,f1,f1_weighted,#small,#true2size,#large
result,0.685511,0.364967,0.333703,0.273786,0.56,6,11905,29

## Auto ML with PyCaret (Incorrect Metrics)

In [ ]:
from pycaret.classification import *
import warnings

with warnings.catch_warnings():
    warnings.filterwarnings('ignore')
    setup(
        data=train_df_prep,
        test_data=test_df_prep,
        target='fit',
        preprocess=False,
        session_id=0,
    )

In [ ]:
best_model = compare_models()

[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.
[LightGBM] [Fatal] Do not support special JSON characters in feature name.

In [ ]:
model = create_model('lr', cross_validation=False)

## Logistic Regression using PyTorch

In [21]:
import torch
import torch.nn as nn
import torch.optim as optim

input_dim = train_df_prep.drop('fit', axis=1).shape[1]
output_dim = 3
inputs = torch.tensor(train_df_prep.drop('fit', axis=1).values,
                      dtype=torch.float32)
labels = torch.tensor(train_df_prep['fit'].values, dtype=torch.long)


# Define the model
class LogisticRegression(nn.Module):

    def __init__(self, input_dim, output_dim):
        super(LogisticRegression, self).__init__()
        self.linear = nn.Linear(input_dim, output_dim)

    def forward(self, x):
        return self.linear(x)

num_epochs = 100
learning_rate = 0.01
lamda = 1

# Define the loss function and the optimizer
model = LogisticRegression(input_dim, output_dim)
criterion = nn.CrossEntropyLoss()
optimizer = optim.SGD(model.parameters(), lr=0.01)

# Train the model
for epoch in range(num_epochs):
    # Forward pass
    outputs = model(inputs)
    loss = criterion(outputs, labels) + lamda * torch.norm(model.linear.weight)

    # Backward and optimize
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()

    if (epoch + 1) % 10 == 0:
        print(f'Epoch [{epoch + 1}/{num_epochs}], Loss: {loss.item():.4f}')

# Test the model
with torch.no_grad():
    predicted = model(
        torch.tensor(test_df_prep.drop('fit', axis=1).values,
                     dtype=torch.float32))
    _, predicted = torch.max(predicted.data, 1)
    y_pred = predicted.numpy()

evaluate_model(test_df_prep['fit'], y_pred)

Epoch [10/100], Loss: 2.0073
Epoch [20/100], Loss: 1.8807
Epoch [30/100], Loss: 1.7599
Epoch [40/100], Loss: 1.6436
Epoch [50/100], Loss: 1.5312
Epoch [60/100], Loss: 1.4224
Epoch [70/100], Loss: 1.3169
Epoch [80/100], Loss: 1.2148
Epoch [90/100], Loss: 1.1166
Epoch [100/100], Loss: 1.0236

,accuracy,precision,recall,f1,f1_weighted,#small,#true2size,#large
result,0.686851,0.22895,0.333333,0.271453,0.559343,0,11940,0